/*reset*/
* {
    margin: 0;
    padding: 0;
}

/* Estilo al Body */
body {
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-family: 'The Nautigal', cursive;
}

.container-fluid{
    padding: 0;
}
.row{
    padding: 0;
    margin: 0;
}

/* Estilo al header */
.logo {
    width: 240px;
    height: 200px;
    margin-left: 25px;
}


/* Estilo al nav */
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 65vw;
    margin: 20px 265px;
    background-color: #AEFEFF;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.nav ul {
    list-style: none;
}

.ulPadre>li {
    position: relative;
    display: inline-block;
}

.ulPadre>li>a {
    display: block;
    text-decoration: none;
    color: #072227;
    padding: 20px;
    margin: 15px;
    font-weight: 90px;
    font-size: 20px;
}

a:hover{
    background-color: white;
    border-radius: 50px;
    border: solid #ffce2c;
    transform: scale(1.1);
}

.ulHijo {
    position: absolute;
    background-color: white;
    display: block;
    display: none;
    width: 100%;
}

.ulHijo li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #072227;
    transition: 0.3s;
}

.ulPadre li:hover .ulHijo {
    display: block;
}


/* Estilo Seccion Inicio */
/* Main */


.video {
    width: 100%;
    padding: 0;
}

.parrafo {
    margin: 50px 0;
    text-align: center;
    color: #072227;
    font-size: 25px;
    word-spacing: 7px;
    line-height: 40px;
}

.bienvenido {
    margin: 100px auto;
    text-align: center;
    color: #072227;
    font-size: 35px;
    word-spacing: 7px;
    background-color: #AEFEFF;
    border-radius: 100px;
    width: 95%;
}



.container__imagen {
    margin-top: 120px;
}

.container__text {
    margin: 150px 250px;
    font-size: 25px;
    color: #072227;
    text-align: center;
}

.sombrilla {
    width: 150px;
    margin-left: 300px;
    margin-bottom: 110px;
}

.texto{
    font-size: 1.5rem;
    line-height: 3rem;
    width: 65%;
    margin: 100px;
}

.tortuga {
    width: 150px;
    margin-top: 110px;
    margin-left: 300px;

}

.imagen {
    width: 500px;
    height: 400px;
    margin: 50px 0 50px 200px;
    border-radius: 50px;
}


/* Estilo Footer */
footer {
    color: #AEFEFF;
    background-color: #072227;
    text-align: center;
    margin-top: 50px;
    padding: 20px 100px 15px 100px;
}



/* Img whatsapp */
.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.whatsapp:hover{
    transform: scale(1.4);
}

.parrafo__footer {
    color: #AEFEFF;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 80px 95px 0px 120px
}

.logoFooter {
    margin: 40px 300px 0 20px;
    width: 0px
}

.imagenLogo {
    width: 200px;
    border-radius: 50px;

}

.suscribete {
    margin: 50px 0;

}

.instagram {
    width: 40px;
    margin: 10px 5px;

}

.facebook {
    width: 40px;
    margin: 10px 5px;
}

.twitter {
    width: 40px;
    margin: 10px 5px;
}

.copyright{
    margin-bottom: 2rem;
}

/* Estilo Seccion nosotros */
.imgNosotros {
    width: 700px;
    height: 800px;
    margin: 50px 400px;
    border-radius: 50px;
}

.imgPaseo {
    width: 700px;
    height: 600px;
    margin: 50px 400px;
    border-radius: 50px;
}


/* Estilo Seccion Paseos */
.cayos, .cayos__reverse {
    margin: 100px 40px;
}

/* .texto__cayos { 
    
    } */

.titulo__paseos{
    margin: 100px auto;
    text-align: center;
    color: #072227;
    font-size: 35px;
    word-spacing: 7px;
    background-color: #AEFEFF;
    border-radius: 100px;
    width: 95%;
}

.parrafo__paseos{
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 2rem;
    text-align: center;
}

.subtitulo__cayos {
    color: #072227;
    font-size: 30px;
    font-style: italic;
    margin: 10px;
    background-color: #AEFEFF;
    border-radius: 30px;
    width: 400px;
}

.parrafo__cayos {
    color: #072227;
    font-size: 18px;
    margin: 40px 10px;
    text-align: justify;
    line-height: 35px;
    word-spacing: 18px;
}

.img__cayos, .img__cayos--reverse {
    width: 500px;
    border-radius: 40px;
    margin: 0 105px;
}


/* Estilo Seccion Contacto */
.titulo__contacto{
    margin: 100px auto;
    text-align: center;
    color: #072227;
    font-size: 35px;
    word-spacing: 7px;
    background-color: #AEFEFF;
    border-radius: 100px;
    width: 95%;
}

.subtitulo__contacto {
    text-align: center;
    font-size: 25px;
}

.formulario {
    background-color: #AEFEFF;
    width: 900px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
}

.container__form {
    margin: 40px 230px;
}

label {
    font-size: 20px;
}

.input {
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 30px;
    margin-left: 20px;
}

select {
    margin-left: 20px;
    height: 25px;
}

.enviar {
    background-color: #072227;
    width: 400px;
    block-size: 30px;
    color: #AEFEFF;
    margin-left: 245px;
}

.enviar:hover {
    background-color: white;
}

/* Aqui van las medias queries */
/* Media queries tablet */
@media (max-width: 1024px) and (min-width: 600px) {

    /* Seccion Inicio */
    .nav {
        width: 70%;
        height: 100px;
        margin: 20px 0px 20px 200px;

    }

    .ulPadre>li>a {
        padding: 0;
        margin: 30px 10px;
    }

    .logo {
        width: 17%;
    }

    .main {
        width: 63.6em;
    }


    .imagen {
        margin: 50px 30px;
        width: 400px;
    }

    .suscribete {
        margin: 50px 0;
    }

    .parrafo__footer {
        margin: 80px 217px 0px 0px;
    }

    .texto {
        font-size: 1.3rem;
        margin: 10px auto;
    }

    .sombrilla {
        margin-left: 150px;
    }

    .tortuga {
        margin-left: 150px;
    }


    /* Footer */
    .footer{
        width: 63.3em;
    }


    /* Seccion Nosotros */
    .imgNosotros {
        margin: 5px 0 5px 200px;
    }


    /* Seccion paseo */
    .cayos__reverse{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .imgPaseo {
        margin: 5px 0 5px 200px;
    }

    .texto__cayos{
        margin-left: 170px;
    }

    .texto__cayos--reverse{
        margin-right: 180px;
    }

    .img__cayos {
        height: 350px;
        margin-left: 220px;
    }

    .img__cayos--reverse{
        height: 350px;
    }

    .parrafo__cayos {
        word-spacing: 0.1rem;
        width: 85vw;
    }


}


/* Media queries mobile */
@media (max-width: 599px) and (min-width: 320px) {

    /* Seccion inicio */
    .nav {
        width: 55%;
        height: 100px;
    }

    .ulPadre>li>a {
        padding: 0;
        margin: 30px 10px;
    }

    .logo {
        width: 45%;
    }

    .main {
        width: 63.6em;
    }

    .container1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .imagen {
        margin: 50px 30px;
        width: 400px;
    }

    .suscribete {
        margin: 50px 0;
    }

    .texto {
        font-size: 1.3rem;
        width: 90vw;
        margin: 20px;
        text-align: justify;
    }

    .sombrilla {
        margin-left: 150px;
        margin-top: 100px;
    }

    .tortuga {
        margin-left: 150px;
    }

    /* Footer */
    .footer{
        width: 63.3em;
    }

    .parrafo__footer {
        margin: 80px 217px 0px 0px;
    }

    .whatsapp{
        width: 100px;
    }

    /* Seccion Nosotros */
    .parrafo {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .imgNosotros {
        margin: 5px 0 5px 170px;
    }

    /* Seccion Paseos */
    .imgPaseo {
        margin: 5px 0 5px 170px;
    }

    .cayos__reverse{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .img__cayos {
        height: 350px;
        margin-left: 212px;
    }

    .texto__cayos {
        margin: 0 75px;
        width: 50rem;
    }

    .parrafo__cayos {
        font-size: 1.8rem;
        word-spacing: 0.1rem;
        line-height: 3rem;
    }

    .texto__cayos--reverse{
        width: 50rem;
    }


    /* Seccion Contacto */
    .subtitulo__contacto {
        font-size: 2.3rem;
        margin: 120px 0;
    }

    .formulario {
        height: 800px;
        padding-bottom: 30px;
        margin-bottom: 100px;
    }

    label {
        font-size: 2rem;
        word-spacing: 0.5rem;
    }

    .input {
        width: 230px;
        height: 55px;
        margin-top: 30px;
        margin-left: auto;
    }

    select {
        width: 230px;
        height: 55px;
        margin-top: 30px;
        margin-left: auto;
    }

    .enviar {
        width: 450px;
        block-size: 65px;
        font-size: 2rem;
    }


    /* Seccion Recomendaciones */
    .recomendaciones p {
        font-size: 2.5rem;
        line-height: 5rem;
        margin: 150px 60px;
    }
}